/* CSS Menus - Horizontal CSS Menu with Dropdown and Popout Menus - 20050131 */


/* body{margin:0.5em;font-family:verdana,tahoma,arial,sans-serif;} 

/* Begin CSS Popout Menu */

#menu{
	display: block;
	padding:0;
	border:none;

}

#menu a, #menu h2{
	font:bold 11px/16px arial,helvetica,sans-serif;
	display:block;
	border-width:1px;
	border-style:solid;
	border-color:#ccc #888 #555 #bbb;
	white-space:nowrap;
	margin:0;
	padding:1px 0 1px 3px;
}


#menu h2{
	color:#fff;
	background:#940018 url(cssimg/expand3.gif) no-repeat 100% 100%;
	text-transform:uppercase
}

div#menu h2:hover{
	background:#940018 url(cssimg/expand3.gif) no-repeat -999px -9999px;
}


#menu a{
	background:#eee;
	text-decoration:none;
}

#menu a, #menu a:visited{
	color:#000;
}

#menu a:hover{
	color:#000;
	background:#ddd;
}

#menu a:active{
	color:#060;
	background:#ccc;
}


#menu ul{
	list-style:none;
	margin:0;
	padding:0;
	float:left;
	width:11em;
}

#menu li{
	position:relative;
}

#menu ul ul{
	position:absolute;
	z-index:500;
	top:auto;
	display:none;
}

#menu ul ul ul{
	top:0;
	left:100%;
}

/* Begin non-anchor hover selectors */

/* Enter the more specific element (div) selector
on non-anchor hovers for IE5.x to comply with the
older version of csshover.htc - V1.21.041022. It
improves IE's performance speed to use the older
file and this method */



div#menu li:hover{
	cursor:pointer;
	z-index:100;
}

div#menu li:hover ul ul,
div#menu li li:hover ul ul,
div#menu li li li:hover ul ul,
div#menu li li li li:hover ul ul
{display:none;}

div#menu li:hover ul,
div#menu li li:hover ul,
div#menu li li li:hover ul,
div#menu li li li li:hover ul
{display:block;}

/* End of non-anchor hover selectors */

/* Styling for Expand */

#menu a.x, #menu a.x:visited{
	font-weight:bold;
	color:#000;
	background:#eee 
	url(cssimg/expand3.gif) no-repeat 100% 100%;
	text-transform:uppercase

}

#menu a.x:hover{
	color:#a00;
	background:#ddd;
	text-transform:uppercase

}

#menu a.x:active{
	color:#060;
	background:#ccc;
	text-transform:uppercase
	
}

/* End CSS Popout Menu */

